html {
    overflow-y: scroll;
    background-image: linear-gradient(to bottom, #ffa274, #74d1ff);
    min-height: 100%;
}

body {
    margin: 8px auto;
    background: #dbf3ff;
    width: 50em;
    padding: 2em;
    border-radius: 1em;
    font-family: "Georgia", Times, serif;
    line-height: 1.5em;
    border: 0.5em solid #ffa274;
}

footer {
    text-align: center;
    margin-top: 0.5em;
    border: 2px solid #ffa274;
    padding: 0.5em;
    font-size: 80%;
}

.headerPicAndBar {
    border: 0.2em solid #ffa274;
}

nav {
    padding: 0.5em;
    text-align: center;
    font-size: 150%;
}

nav a {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

a:link {
    text-decoration: underline;
    color: black;
    text-shadow: 1px 0 0 #dbf3ff;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-shadow: 1px 0 0 currentColor;
}

#headerImg {
    width: 100%;
    height: auto;
    display: block;
}

#mainPic {
    max-width: 17em;
    display: block;
    float: left;
    margin-right: 1em;
}

#jsCode {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}
